<form>
  <div class="form-group">
    <label for="inputAddress">UserName</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="Vui lòng nhap Username">
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="state">State</label>
      <select id="state" class="form-control">
        <option selected>Choose...</option>
        <option>Duc</option>
        <option>Nguyen</option>
        <option>123</option>
      </select>
    </div>
   
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>